page-soportedeproblema { 
  .padre{
     display: flex;
     flex-direction:column;
     background-color: #FCCB3F;
    }
  .home{
    display : flex;
    flex-direction:column;
    height: 100%;
    border:5px solid 2;
    background-color: #FCCB3F;
  }
  .notifications{

  }
  .salud{

  }
  .menu{

  }
  }
