page-prevencion{
.prevencion-container{
  display: flex;
  flex-direction:row;
  height:60%;
  width: 100%;
  border:5px solid pink;

}
  .centro-container{
    display: flex;
    flex-direction:row;
    height:60%;
    width: 100%;
    border:5px solid pink;
  }

}
