page-home {
.scroll-content {
 display: flex;
 flex-direction:column;
}

 .padre-container {
  display : flex;
  flex-direction:column;
  height: 100%;
  border:5px solid 0;
 }


 .fecha-container{
   display : flex;
   flex-direction:column;
   height: 10%;
   width: 100%;


 }
 .centro-container{
     display: flex;
     flex-direction:row;
     height:60%;
     width: 100%;
     border:5px solid 0;
  }

  .imagen-container {
    width: 40%;
    height: 100%;
    background-color: black;
    border: 5px solid 0;
    position: relative;

  }

  .uno{
    position:absolute;
    top: 2%;
    left: 30%;
    width: 120px;
    height: 120px;
  
  }
    .dos{
      position:absolute;
      top: 20%;
      left: 30%;
      width: 120px;
      height: 120px;

}
    .tres{
      position:absolute;
      top: 38%;
      left: 30%;
      width: 120px;
      height: 120px;
}

    .cuatro{
      position:absolute;
      top: 56%;
      left: 30%;
      width: 120px;
      height: 120px;

}
    .cinco{
  position:absolute;
  top: 74%;
  left: 30%;
  width: 120px;
  height: 120px;

}
  .derecha-container{
    display: flex;
    flex-direction:column;
    width:60%;
    border:5px solid pink;
  }
    .map-container {
      display: flex;
      flex-direction:column;
      width:100%;
      height:80%;
      border:5px solid green;
    }

    .aviso-container{
      display: flex;
      flex-direction:column;
      width:100%;
      height:20%;
      border:5px solid black;

      }
        .alarma-container{
          display: flex;
          flex-direction:column;
          width:40%;
          height:20%;
          right: 10%;

        }

    }
