page-home {

  .scroll-content {
 display: flex;
 flex-direction: column;
  }
 .column-container {
  display : flex;
  flex-direction: column;
  height: 50%
 }
 .row-container{
   display: flex;
   flex-direction: row;
 }
 .map-container{
   display : flex;
   flex-direction: row;
   height: 50%;
   width: 90%;
  .semaforo-container{
    display:flex;
    flex-direction:column;
    height:80%;
    width: 90%;
    border:5px solid black;
  }
  .totaltap-container{
    display:flex;
    flex-direction:row;
    height:50%;
    width: 50%;
    border:5px solid black;
  }
  .tap-container{
    display:flex;
    flex-direction: row;
    height:20%;
    width:50%;
    border:5px solid black;

  }
 }





}
