page-home {
.scroll-content {
 display: flex;
 flex-direction:column;
 background-color: #FCCB3F;
}

 .padre-container {
  display : flex;
  flex-direction:column;
  height: 100%;
  border:5px solid 0;
 }


 .fecha-container{
   display : flex;
   flex-direction:column;
   height: 10%;
   width: 100%;


 }
 .centro-container{
     display: flex;
     flex-direction:row;
     height:70%;
     width: 100%;
     border:5px solid 0;
     align-content: center;
     justify-content: center;


  }

  .imagen-container {
    width: 30%;
    height: 95%;
    background-color:#2E4053;
    left: 5%;
    border: 4px solid 0;
    border:none;
    border-radius: 9px;
    position: relative;

  }


  .uno{
    position:absolute;
    top: 2%;
    left: 20%;
    width: 120px;
    height: 120px;

  }
  .uno1{
      background-color: #50B700;
  }
  .uno1:hover{
    background-color:#99FFFF;
    border: #FFFFFF solid 2px;
  }
    .dos{
      position:absolute;
      top: 20%;
      left: 20%;
      width: 120px;
      height: 120px;

    }
    .dos2{
        background-color: #D0C700;
    }
    .dos2:hover{
      background-color:#FDD835;
      border: #FFFFFF solid 2px;
    }
        .tres{
          position:absolute;
          top: 38%;
          left: 20%;
          width: 120px;
          height: 120px;
    }
    .tres3{
        background-color:#D08100 ;
    }
    .tres3:hover{
      background-color:#F09710;
      border: #FFFFFF solid 2px;
    }

        .cuatro{
          position:absolute;
          top: 56%;
          left: 20%;
          width: 120px;
          height: 120px;
    }
    .cuatro4{
        background-color:#C60404 ;
    }
    .cuatro4:hover{
      background-color:#FF3F3F ;
      border: #FFFFFF solid 2px;
    }
      .cinco{
      position:absolute;
      top: 74%;
      left: 20%;
      width: 120px;
      height: 120px;

    }
    .cinco5{
        background-color:#A500A5 ;
    }
    .cinco5:hover{
      background-color: #E45CEA ;
      border: #FFFFFF solid 2px;
    }

  .derecha-container{
    display: flex;
    flex-direction:column;
    width:60%;
    border:5px solid 0;

  }
    .map-container {
      display: flex;
      flex-direction:column;
      width:100%;
      height:80%;
      border:5px solid 0;

    }

    .aviso-container{
      display: flex;
      flex-direction:row-reverse;
      width:100%;
      height:10%;
      border:5px solid 0;

      }
        .alarma-container{
          display: flex;
          flex-direction: row-reverse;
          width:50%;
          height:20%;
          right: 10%;
          top: 5%;
          left: 50%;
          align-content: center;
          justify-content: center;
          text-align: center;
          border:5px solid 0;

        }


    }
