.titulo{
  background-color: #FF7043;
  opacity: 0.7;
  height: 2%;
}
.logo{
  background-color: #FFA07A;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 100%;
    opacity: 0.5;
  }
}

  .boton1{

    background-color:#FDD835;
    padding: 2px;
    font-size: 2em;

    font-family: Arial, Helvetica,sans-serif;
  }

    .boton2{

      background-color: #FC7B55;
      padding: 2px;
      font-size: 2em;

      font-family: Arial, Helvetica,sans-serif;
    }

      .boton3{

        background-color:#80DEEA;
        padding: 2px;
        font-size: 2em;

        font-family: Arial, Helvetica,sans-serif;
      }

        .boton4{

          background-color:#55FC8A;
          padding: 2px;
          font-size: 2em;

          font-family: Arial, Helvetica,sans-serif;
        }
