<ion-content *ngIf="!user" class="inicio-page">
  <ion-slides pager>
    <ion-slide >
      <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
      <h2 class="Bienvenida">Bienvenida(o) a <br/>SUNRISE</h2>
      <div class="logosline">
        <img src="assets/img/uno.png" />
      </div>
      <p class="slide" style="color: #795548">En SUNRISE alimentaras <br/>tu cultura preventiva sobre<br/>el cáncer de piel<br/> ¡Y mucho mas! porque la SALUD ES LO PRIMERO</p>


    </ion-slide>
    <ion-slide class="MiniFormulario">
        <h2 >"Una mancha que cambia, puede cambiar tu vida"</h2>
        <p style="color: #795548">Solo queremos conocerte más <br/> tu información esta protegida.</p>
          <ion-card-content class="test-container" style="background-color:#3a792d26">
            <ion-list>
              <ion-item class="subtest" *ngFor="let pregunta of preguntas">
              {{pregunta.pregunta}}
              <select class="alternativas"(change)="test (pregunta.key, $event.target.value)">
                <option
                   *ngFor="let alternativa of pregunta.alternativas"
                    [value]="pregunta.alternativas.indexOf(alternativa)">
                    {{alternativa.texto}}
                  </option>
              </select>
            </ion-item>
          </ion-list>
            <ion-item>
            <button ion-button block outline style="background-color:#f4f4f4">Finalizar</button>
             </ion-item>
          </ion-card-content>
      </ion-slide>

    <ion-slide>
        <h2 class="slide-title">SABíAS QUE:</h2>
        <!-- <ion-item style="background-color:#5d636724" >
            <h2><br/>Antes de los 21 años recibes entre <br/>50% y 80% de radiacion</h2>
            <h2><br/>En la infancia el sol dañaTRES VECES<br/>MAS QUE EN LA ADULTEZ</h2> -->

        <div>
          <p style="color: #795548"><br/>Antes de los 21 años recibes <br/>entre 50% y 80% de radiación.</p>
          <p style="color: #795548">En la infancia el sol daña TRES <br/>VECES MÁS QUE EN LA ADULTEZ.<br/>Nuestra piel tiene memoria</p>
          </div>
        <div class="logosline">
          <img src="assets/img/gif.gif"/>
        </div>
        <button ion-button style="background-color:#2ec95c" (click)="login()">
          <ion-icon name="logo-google"> Entrar con tu Gmail</ion-icon>
        </button>
          <button class="Entrar"ion-button large clear icon-end color="primary" (click)="inicio()">
            Entrar
            <ion-icon name="arrow-forward"></ion-icon>
         </button>
    </ion-slide>


  </ion-slides>
</ion-content>

<ion-content *ngIf="user">
  <ion-menu [content]="content">
    <ion-header>
      <ion-title class="titulo">
        <h2>{{user.displayName}}</h2>
        <h2>SUNRISE</h2>
      </ion-title>
    </ion-header>

    <ion-content>
      <div class="logo">
        <img src="assets/img/uno.png" />
      </div>
      <ion-list no-line>

        <button class="boton2" ion-item (click)="pushbloqueadores()">
          <ion-icon item-left name="ios-happy"></ion-icon>
            Información de Bloqueadores
          </button>
        <button class="boton3" ion-item (click)="pushtestimonio()">
            <ion-icon item-left class="testimonio" item-left name="ios-people"></ion-icon>
            Testimonio
         </button>
        <button ion-item (click)="logout()">
          <ion-icon item-left ios="ios-log-out" md="md-log-out"></ion-icon>
              Salir
        </button>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>
</ion-content>
