<ion-navbar>
  notificaciones
</ion-navbar>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-list-header>
         adultos
       </ion-list-header>
        <ion-item *ngFor="let item of items">
          <ion-thumbnail item-start>
          <img [src]="item.img" />
          </ion-thumbnail>
            <h2>{{item.titulo}}</h2>
            <p>{{item.descripcion}}</p>
           <button ion-button clear item-end>
            <a href="https://ionicframework.com/framework">ir</a>
          </button>
        </ion-item>
      </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-list-header>
         jovenes
       </ion-list-header>
        <ion-item *ngFor="let item of itemss">
          <ion-thumbnail item-start>
          <img [src]="item.img" />
          </ion-thumbnail>
            <h2>{{item.titulo}}</h2>
            <p>{{item.descripcion}}</p>
           <button ion-button clear item-end>
            <a href="https://ionicframework.com/framework">ir</a>
          </button>
         </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
