<ion-navbar>
</ion-navbar>

<ion-content class="MiniFormulario">
  <ion-navbar>
    <ion-title>
      MiniTest
    </ion-title>
  </ion-navbar>

  <ion-card-content class="test-container">
    <ion-list>
      <ion-item class="subtest" *ngFor="let pregunta of preguntas">
      {{pregunta.pregunta}}
      <select class="alternativas">
        <option
           *ngFor="let alternativa of pregunta.alternativas"
            [value]="alternativas">
            {{alternativa.texto}}
          </option>
          </select>
      </ion-item>
    </ion-list>
    <ion-item>
    <button ion-button block outline color="primary" (click)="agregarRespuesta()">Finalizar</button>
     </ion-item>
  </ion-card-content>
</ion-content>
