page-registrarse{
  .list-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    background-color:  #FFA500 ;

  .input-label{
    margin: 5%;
      background-color:#FFEB3B  ;
  }

  }




}
