page-registrarse{
  .MiniFormulario{
    display:flex;
    flex-direction:column;


  }

    .test-container{
  background-color: #000000 ;

    .subtest{
      background-color: #FFA500 ;

    }

  .alternativas{
    display:flex;
    flex-direction:column;
     top:15%;

  }
}
}
