page-salud{

  .informacion-content {
 display: flex;
 flex-direction:row;
  }
  .seleccion-container{
    display: flex;
    flex-direction:row;
    width:20%;
    height:100%;
    border:5px solid black;
  }

  .puppies-container{
    display: flex;
    flex-direction:row;
    width:20%;
    height:30%;
    border:5px solid black;
  }
  .kittens-container{
    display: flex;
    flex-direction:row;
    width:20%;
    height:30%;
    border:5px solid black;
  }
  .ducklings-container{
    display: flex;
    flex-direction:row;
    width:20%;
    height:30%;
    border:5px solid black;
  }

  .madre-conteiner{
    display:flex;
    flex-direction:column;
    height:10%;
    border:5px solid black;
  }
  .titulo-container{
    display: flex;
    flex-direction:row;
    width:100%;
    height:10%;
    border:5px solid pink;

  }
  .concepto-container{
    display: flex;
    flex-direction:row;
    width:100%;
    height:20%;
    border:5px solid blue;

  }
  .miplato-container{
    display: flex;
    flex-direction:row;
    width:100%;
    height:20%;
    border:5px solid red;

  }
  .centro-container{
    display: flex;
    flex-direction:row;
    height:40%;
    width: 100%;
    border:5px solid orange;
  }
  .izquierda-container{
    width: 60%;
    height:40%;
    border:3px solid black;
  }
  .superior-container{
    display: flex;
    flex-direction:column;
    width:20%;
    height:10%;
    border:5px solid black;
  }
    .bebida-container {
      display: flex;
      flex-direction:row;
      width:10%;
      height:5%;
      border:5px solid green;
   }
   .fruta-container {
     display: flex;
     flex-direction:row;
     width:10%;
     height:5%;
     border:5px solid green;
   }
   .inferior-container{
     display: flex;
     flex-direction:column;
     width:60%;
     height:40%;
     border:5px solid black;
    }
    .plato-container{
      display: flex;
      flex-direction:column;
      width:60%;
      height:40%;
      border:5px solid black;
    }
    .info-container{
      display: flex;
      flex-direction:row;
      width:5%;
      height:40%;
      border:5px solid black;
     }
     .derecrha1-container{
      display: flex;
      flex-direction:column;
      width:40%;
      height:60%;
      border:5px solid black;
      }
        .menu-container {
          display: flex;
          flex-direction: column;
          width:40%;
          height:60%;
          border:5px solid black;
        }
        .botones-container {
          display: flex;
          flex-direction: column;
          width:40%;
          height:60%;
          border:5px solid purple;
     }
        .alarma-container{
          display: flex;
          flex-direction:column;
          width:100%;
          height:10%;
          border:5px solid yellow;

     }

    }
