page-salud{
.titulo-container{
  top: 2%;
  left: 50%;
  width: 120px;
  height: 120px;
}
.bottones-container{
  width: 40%;
  height: 100%;
  background-color:pink;
  border: 5px solid 0;
  position: relative;

}
.izquierda{
  position:absolute;
  top: 2%;
  left: 30%;
  width: 120px;
  height: 120px;

}
.derecha{

}
.derecha2{

}
.izquierda2{


}
.gifs{
  position: relative;
  width:50%;
  right: 10%;
  left: 35%;
}
}
